.logoc{
						height: 30px;
      width: 50px;
      
}
.logob{
						height: 30px;
      width: 50px;
      margin-top: 20%;
}
.logov{
						height: 30px;
      width: 50px;
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 90%;
      
}
.logok{
						height: 50px;
      width: 90px;
}